.e1{
    color: aqua;
}

#e2{
    color: red;
}

.e2{
    color: aquamarine;
}

.center{
    width: 500px;
    background: #111111;
    margin: 10% auto;
    padding: 40px 0;
    color: #ffffff;
    box-shadow: 0 0 20px 2px rgba(245, 239, 244, 0.5);
  }
  .footer {
    background-color: #efeded;
    color: #ffffff;
    max-height: 2000px;
  }
  
  .navbar-right {
    float: right;
  }
  
  .dropbtn {
    background-color: #403d3d97;
    color: rgb(255, 249, 249);
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  .dropdown {
    position: absolute;
    display: inline-block;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffefef;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(1, 1, 1, 0.935);
    z-index: 1;
  }
  .dropdown-content a {
    color: rgb(0, 0, 0);
    padding: 10px 8px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: #fff6f6;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: #2b0013;
  }
  
  *{
    box-sizing:border-box;
  }
  
  /*header {
  background-color: #008080;
  color: #fff;
  padding: 20px;
  text-align: center;
  }*/
  
  
  .float-container {
  border: 1px solid #fff;
  
  }
  
  .float-child {
  width: 50%;
  float: left;
  padding: 20px;
  border: 2px solid red;
  } 
  
  
  .column {
    float: left;
    width: 60%;
    padding: 10px;
    height: 300px;
  }
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .recharge-box {
  
  padding: 20px;
  text-align: center;
  width: 150px;
  }
  